*,*::before,*::after{
    box-sizing: inherit;
}

html{
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Oswald";
    scroll-behavior: smooth;
    color: #fff;
    background-image: url("../assets/clouds-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

img {
    display: block;
    height: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}

h1,h2,h3,h4,p{
    margin-block:0;
}



.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* sticky footer */
.site-main{
    flex-grow: 1;
}

